.dash-header {
    text-align: center;
    padding: 20px 0;
    margin: 0;
    display: block;
}

.dash-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    padding: 20px 0;
}

.dash-cell {
    display: flex;
    min-width: 200px;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background: #5ac23b;
    margin: 0 30px;
    margin-bottom: 50px;
}
